<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

    {% for item in data.data %}
    <p>{{ item }}</p>
    {% endfor %}


    <img src="../static/image/test.png">
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
    <script>
    {#axios.get('/lists')#}
    {#  .then(res => console.log(res.data))#}
    {#  .catch(err => console.log(err));#}
    </script>
</body>
</html>