@import url(https://fonts.googleapis.com/css?family=Roboto:400+700);
#chart {
  width: 380px;
  height: 200px;
  display: block;
  transform: scale(.8);
}
#chart #numbers {
  width: 30px;
  height: 200px;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 30px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  width: 480px !important;
  height: 200px !important;
}
#chart #bars li {
  display: table-cell;
  width: 50px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}

#chart #bars li .bar {
  display: block;
  width: 40px;
  margin-left: 15px;
  background: #49E;
  position: absolute;
  bottom: 0;
}

#chart #bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: white;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}
/*时钟*/
.clock{
  width: 160px;
  height: 160px;
  margin-left: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/clock.png");
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, .05),
              inset 0 -15px 15px rgba(255, 255, 255, .05),
              0 -15px 15px rgba(0, 0, 0, .3),
              inset 0 -15px 15px rgba(0, 0, 0, .3);
}
.clock::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  z-index: 1000;
}
.clock .hour,
.clock .min,
.clock .sec
{
  position: absolute;
}
.clock .hour .hr {
  width: 80px;
  height: 80px;
}
.clock .min .mn {
  width: 110px;
  height: 110px;
}
.clock .sec .sc {
  width:136px;
  height: 136px;
}
.hr,.mn,.sc {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}
.hr::before{
  content: '';
  position: absolute;
  width: 8px;
  height: 40px;
  background-color: red;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 56px;
  background-color: #000000;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 86px;
  background-color: #000000;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

